.team-container {
    text-align: center;
    padding: 30px;
  }

  .team-container h1 {
    text-align: left;
  }

  .team-container p {
    text-align: left;
  }

  .highlight {
    color: #ff4500;
  }
 
  .team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

  .team-members h3 {
    text-align: left;
  }
 
  .team-member {
    flex: 1;
    text-align: center;
  }
 
  .team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
 
  .team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
 
  .team-member p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
 
  .social-icons {
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  img {
    width: 40%;
    height: auto;
    object-fit: cover;
  }